[submodule "public"]
	path = public
	url = https://github.com/daosyn/daosyn.github.io.git
	branch = master
[submodule "static/resume"]
	path = static/resume
	url = https://github.com/daosyn/resume.git
[submodule "themes/yak-shaver"]
	path = themes/yak-shaver
	url = https://github.com/daosyn/yak-shaver.git
