[submodule "public"]
	path = public
	url = https://github.com/daosyn/daosyn.github.io.git
	branch = master
[submodule "static/resume"]
	path = static/resume
	url = https://github.com/daosyn/resume.git
[submodule "themes/banh-mi"]
	path = themes/banh-mi
	url = https://github.com/daosyn/banh-mi.git
